
# mongodb connection URI
MONGODB_URI=
# a random password
IRON_SESSION_PASSWORD=
# base URL of the app
NEXT_PUBLIC_BASE_URL=
# set to true to skip sending emails and use 000000
DEV_MODE=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=